.main{
  color: rgb(17, 135, 238);
  font-size: 10px;
  transition: font-size 0.5s ease-in;
}
.main:hover{
  color: black;
  font-size: 20px;
}
.box{
  position: relative;
  display: grid;
}

.textbox {
    border-radius: 10px;
    border: 1px solid #d9d9d9;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    padding-left:20px;
    padding-top: 27px;
    padding-bottom: 27px;
    letter-spacing: 0.01em;
    width: 100%;
    color: #060452;
    margin-bottom: 32px;
}
.form-label {
  position:absolute;
  /* overflow: hidden; */
  visibility: hidden;
  display:block ;
  margin-top:27px;
  padding-left:20px;
  font-weight: 600;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #8E8E94;
  /* cursor: text; */
  transition: all 0.1s ease-in;

}
.textbox:focus ~ .form-label,.textbox:not(:placeholder-shown).textbox:not(:focus)~.form-label { 
  margin-top:16px;
  visibility:visible;
  padding-left:20px;
  font-size: 14px;
  line-height: 20px;
  color: #060452;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}
.textbox:focus ,.textbox:not(:placeholder-shown).textbox:not(:focus){
  padding-top: 38px;
  padding-bottom:16px;
}
input:focus::placeholder{
  color:transparent;
}
input::placeholder{
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 17px;
line-height: 22px;
letter-spacing: 0.01em;
color: #8E8E94;
}