
.box{
  position: relative;
  display: grid;
}

.textbox {
    border-radius: 10px;
    border: 1px solid #d9d9d9;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    padding-left:20px;
    padding-top: 38px;
    padding-bottom: 16px;
    letter-spacing: 0.01em;
    width: 800%;
    color: #060452;
}
.form-label {
  position:absolute;
  padding-top:27px;
  padding-left:20px;
  font-weight: 600;
  font-family: 'Roboto';
  font-style: normal;
  cursor: text;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #8E8E94;
  transition: all 0.3s;

}
.textbox:focus ~ .form-label,.textbox:not(:placeholder-shown).textbox:not(:focus)~.form-label { 
  padding-top:16px;
  padding-left:20px;
  font-size: 14px;
  line-height: 20px;
  color: #060452;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}
/* .textbox:focus ,.textbox:not(:placeholder-shown).textbox:not(:focus){
  padding-top: 38px;
  padding-bottom:16px;
} */
/* input:focus::placeholder{
  color:transparent;
} */
/* input::placeholder{
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 17px;
line-height: 22px;
letter-spacing: 0.01em;
color: #8E8E94;
} */